Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov

Try to fix traefik bug _too many services_
  services/simcore/docker-compose.deploy.letsencrypt.dns.yml
  services/simcore/docker-compose.deploy.letsencrypt.http.yml
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Try to fix traefik bug _too many services_
  services/simcore/docker-compose.deploy.letsencrypt.dns.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Try to fix traefik bug _too many services_
  services/simcore/docker-compose.deploy.letsencrypt.dns.yml
  services/simcore/docker-compose.deploy.letsencrypt.http.yml
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Try to fix traefik bug _too many services_
  services/simcore/docker-compose.deploy.letsencrypt.dns.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Add filestash
  scripts/deployments/deploy.sh
  services/filestash/.gitignore
  services/filestash/Makefile
  services/filestash/README.md
  services/filestash/create_config.py
  services/filestash/docker-compose.aws.yml
  services/filestash/docker-compose.letsencrypt.dns.yml
  services/filestash/docker-compose.letsencrypt.http.yml
  services/filestash/docker-compose.yml
  services/filestash/filestash_config.json.template
  services/filestash/requirements.txt
  services/filestash/template.env
Owners: @sanderegg, @pcrespov

Add filestash
  scripts/deployments/deploy.sh
  services/filestash/.gitignore
  services/filestash/Makefile
  services/filestash/README.md
  services/filestash/create_config.py
  services/filestash/docker-compose.aws.yml
  services/filestash/docker-compose.letsencrypt.dns.yml
  services/filestash/docker-compose.letsencrypt.http.yml
  services/filestash/docker-compose.yml
  services/filestash/filestash_config.json.template
  services/filestash/requirements.txt
  services/filestash/template.env
Owners: @sanderegg, @pcrespov

Export grafana configuration
  services/monitoring/grafana/osparc.io/dashboards/gitlab/19.json
  services/monitoring/grafana/osparc.io/dashboards/gitlab/20.json
  services/monitoring/grafana/osparc.io/dashboards/gitlab/21.json
  services/monitoring/grafana/osparc.io/dashboards/nih-metrics/11.json
  services/monitoring/grafana/osparc.io/dashboards/ops/12.json
  services/monitoring/grafana/osparc.io/dashboards/ops/13.json
  services/monitoring/grafana/osparc.io/dashboards/ops/14.json
  services/monitoring/grafana/osparc.io/dashboards/ops/16.json
  services/monitoring/grafana/osparc.io/dashboards/ops/17.json
  services/monitoring/grafana/osparc.io/dashboards/ops/18.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/22.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/23.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/24.json
  services/monitoring/grafana/osparc.io/dashboards/system/10.json
  services/monitoring/grafana/osparc.io/dashboards/system/6.json
  services/monitoring/grafana/osparc.io/dashboards/system/7.json
  services/monitoring/grafana/osparc.io/dashboards/system/8.json
  services/monitoring/grafana/osparc.io/dashboards/system/9.json
  services/monitoring/grafana/osparc.io/datasources/1.json
  services/monitoring/grafana/osparc.io/datasources/2.json
  services/monitoring/grafana/osparc.io/datasources/3.json
  services/monitoring/grafana/osparc.io/datasources/4.json
Owners: @sanderegg

Update grafana dashboards on dalco-prod
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/16.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/17.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/18.json
  services/monitoring/grafana/osparc.speag.com/dashboards/nih-metrics/25.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/10.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/11.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/12.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/6.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/7.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/8.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/9.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/13.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/14.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/15.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/19.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/20.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/21.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/22.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/23.json
Owners: @sanderegg

Replicate simcore traefik globally
  services/simcore/docker-compose.deploy.aws.yml
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correction config of mailserver
  repo.config
Owners: none

Update simcore service
  services/simcore/.env
Owners: @sanderegg

fix mail server config 2
  repo.config
Owners: none

Update simcore service config
  services/simcore/.env
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Refactor swarm labels
  services/adminer/docker-compose.aws.yml
  services/filestash/docker-compose.aws.yml
  services/graylog/docker-compose.aws.yml
  services/jaeger/docker-compose.aws.yml
  services/mail/docker-compose-aws.yml
  services/monitoring/docker-compose.aws.yml
  services/portainer/docker-compose.aws.yml
  services/redis-commander/docker-compose.aws.yml
Owners: @sanderegg

Refactoring swarn label - fix
  services/monitoring/docker-compose.aws.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Increase graylog testing time to start
  services/graylog/scripts/configure.py
Owners: @sanderegg

Increase graylog testing time to start
  services/graylog/scripts/configure.py
Owners: @sanderegg

Fix traefik issue: Invalid hostname with global replication: Dont use {{.Task.Slot}}
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Refactor of Dalco swarm labels
  services/adminer/Makefile
  services/adminer/docker-compose.dalco.yml
  services/filestash/Makefile
  services/filestash/docker-compose.dalco.yml
  services/graylog/docker-compose.dalco.yml
  services/jaeger/Makefile
  services/jaeger/docker-compose.dalco.yml
  services/mail/docker-compose.yml
  services/monitoring/docker-compose.dalco.yml
  services/pg-backup/docker-compose.yml
  services/portainer/Makefile
  services/portainer/docker-compose.dalco.yml
  services/redis-commander/docker-compose.dalco.yml
  services/simcore/docker-compose.deploy.dalco.yml
Owners: @pcrespov, @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Rename myresolver
  services/admin-panels/docker-compose.letsencrypt.dns.yml
  services/adminer/docker-compose.letsencrypt.dns.yml
  services/batman-panels/docker-compose.letsencrypt.dns.yml
  services/filestash/docker-compose.letsencrypt.dns.yml
  services/graylog/docker-compose.letsencrypt.dns.yml
  services/jaeger/docker-compose.letsencrypt.dns.yml
  services/mail/docker-compose-aws.yml
  services/mail/docker-compose.aws.yml
  services/mail/docker-compose.local.yml
  services/maintenance-page/docker-compose.yml.j2
  services/minio/docker-compose.letsencrypt.dns.yaml.j2
  services/minio/docker-compose.letsencrypt.http.yaml.j2
  services/monitoring/docker-compose.letsencrypt.dns.yml
  services/portainer/docker-compose.letsencrypt.dns.yml
  services/redis-commander/docker-compose.letsencrypt.dns.yml
  services/registry/docker-compose.letsencrypt.dns.yml
  services/simcore/docker-compose.deploy.letsencrypt.dns.yml
  services/simcore/docker-compose.yml
  services/traefik/docker-compose.aws.yml
  services/traefik/docker-compose.dalco.yml
  services/traefik/docker-compose.letsencrypt.dns.yml.j2
  services/traefik/docker-compose.master.yml
  services/traefik/docker-compose.public.yml
Owners: @sanderegg

Add memory limits to all simcore services
  services/simcore/docker-compose.yml
Owners: @sanderegg

Try to fix staging_Watermelon1
  services/simcore/docker-compose.yml
Owners: @sanderegg

modify grafana import script - commit not verified
  services/monitoring/grafana/scripts/import.py
Owners: @sanderegg

Add better makefile help
  charts/Makefile
  scripts/common.Makefile
Owners: @pcrespov

wip
  charts/Makefile
  charts/portainer/values.yaml.gotmpl
  charts/signoz/values.yaml.gotmpl
Owners: @pcrespov

Make portainer persistence storage class envvar configurable
  charts/portainer/values.yaml.gotmpl
Owners: none

only bind ports when needed
  services/traefik/docker-compose.local.yml
  services/traefik/docker-compose.yml.j2
  services/traefik/template.env
Owners: @sanderegg

Add env_file back to traefik compose spec
  services/traefik/docker-compose.yml.j2
Owners: @sanderegg

wip
  scripts/deployments/deploy_everything_locally.bash
  services/graylog/.gitignore
  services/graylog/Makefile
  services/graylog/README.md
  services/graylog/contentpacks/osparc-custom-content-pack-v2.json
  services/graylog/docker-compose.aws.yml
  services/graylog/docker-compose.dalco.yml
  services/graylog/docker-compose.letsencrypt.dns.yml
  services/graylog/docker-compose.letsencrypt.http.yml
  services/graylog/docker-compose.local.yml
  services/graylog/docker-compose.master.yml
  services/graylog/docker-compose.yml.j2
  services/graylog/fluentd/Dockerfile
  services/graylog/fluentd/fluent.conf
  services/graylog/loki.yaml
  services/graylog/scripts/.gitignore
  services/graylog/scripts/README.md
  services/graylog/scripts/alerts.template.yaml
  services/graylog/scripts/configure.py
  services/graylog/scripts/requirements.txt
  services/graylog/template.env
  services/logging/docker-compose.yml.j2
Owners: @sanderegg, @pcrespov

wip
  services/graylog/docker-compose.dalco.yml
  services/graylog/docker-compose.local.yml
  services/graylog/docker-compose.master.yml
  services/graylog/docker-compose.yml.j2
Owners: @sanderegg

wip
  services/mcp/.gitignore
  services/mcp/Dockerfile
  services/mcp/Makefile
  services/mcp/docker-compose.yml.j2
  services/mcp/healthcheck.py
  services/mcp/requirements.txt
  services/mcp/server.py
  services/mcp/template.env
  services/monitoring/tempo_config.yaml.j2
Owners: @sanderegg, @pcrespov

wip
  .vscode/mcp.json
  scripts/deployments/deploy_everything_locally.bash
  services/mcp/Dockerfile
  services/mcp/docker-compose.yml.j2
  services/mcp/healthcheck.py
  services/mcp/server.py
  services/mcp/skills/loki-log-query/SKILL.md
  services/mcp/template.env
  services/portainer/docker-compose.yml
Owners: @sanderegg

wip
  .gitignore
  certificates/Makefile
  scripts/deployments/start_simcore_locally.bash
  services/mcp/Dockerfile
  services/mcp/docker-compose.yml.j2
  services/mcp/server.py
  services/mcp/skills/docker-service-logs/SKILL.md
  services/mcp/skills/mcp-capabilities/SKILL.md
  services/mcp/template.env
  services/simcore/docker-compose.deploy.local.yml
  services/simcore/docker-compose.yml.j2
  services/traefik/docker-compose.yml.j2
Owners: @pcrespov, @sanderegg

extra
  services/mcp/server.py
Owners: @sanderegg

feat: add MCP aggregator service and fix pre-commit hooks for Python 3.14
  .pre-commit-config.yaml
  .pylintrc
  scripts/common.Makefile
  scripts/pre-commit-hooks/runPylint/launch.bash
  scripts/pre-commit-hooks/runPylint/requirements.txt
  services/graylog/scripts/alerts.yaml
  services/mcp/DESIGN.md
  services/mcp/Dockerfile
  services/mcp/Makefile
  services/mcp/healthcheck.py
  services/mcp/mcp_aggregator/__init__.py
  services/mcp/mcp_aggregator/__main__.py
  services/mcp/mcp_aggregator/backends.py
  services/mcp/mcp_aggregator/config.py
  services/mcp/mcp_aggregator/health.py
  services/mcp/mcp_aggregator/portainer_auth.py
  services/mcp/mcp_aggregator/server.py
  services/mcp/mcp_aggregator/skills.py
  services/mcp/pyproject.toml
  services/mcp/tests/__init__.py
  services/mcp/tests/conftest.py
  services/mcp/tests/test_00_smoketests.py
  services/mcp/tests/test_backends.py
  services/mcp/tests/test_config.py
  services/mcp/tests/test_design_specs.py
  services/mcp/tests/test_gap_coverage.py
  services/mcp/tests/test_health.py
  services/mcp/tests/test_healthcheck.py
  services/mcp/tests/test_portainer_auth.py
  services/mcp/tests/test_server.py
  services/mcp/tests/test_skills.py
  services/mcp/uv.lock
Owners: @sanderegg, @pcrespov

init
  services/logging/docker-compose.yml.j2
  services/logging/scripts/configure.py
  services/logging/vector.yaml.j2
Owners: @sanderegg
