Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

propagate from osparc.speag.com
  services/jaeger/docker-compose.yml
  services/monitoring/Makefile
  services/monitoring/docker-compose.yml
  services/monitoring/gitlab-ci-pipelines-exporter/config.yml
  services/monitoring/prometheus/prometheus-base.yml
  services/monitoring/prometheus/prometheus-dalco.yml
  services/portainer/Makefile
  services/registry/docker-compose.yml
  services/traefik/docker-compose.yml
Owners: @sanderegg, @pcrespov

Fix traefik ip manager issue
  services/traefik/template.env
Owners: @sanderegg

do not fetch envs
  services/monitoring/gitlab-ci-pipelines-exporter/config.yml
Owners: @sanderegg

do not fetch envs
  services/monitoring/gitlab-ci-pipelines-exporter/config.yml
Owners: @sanderegg

disable gitlab-exporter: too much power draw on gitlab
  services/monitoring/docker-compose.yml
Owners: @sanderegg

disable gitlab-exporter: too much power draw on gitlab
  services/monitoring/docker-compose.yml
Owners: @sanderegg

fix nodes dashboard
  services/monitoring/grafana/provisioning/dashboards/system/Nodes-1588752833544.json
Owners: @sanderegg

fix nodes dashboard
  services/monitoring/grafana/provisioning/dashboards/system/Nodes-1588752833544.json
Owners: @sanderegg

updated deployer to version 0.9.3
  services/deployment-agent/VERSION
Owners: @sanderegg

updated deployer to version 0.9.3
  services/deployment-agent/VERSION
Owners: @sanderegg

add director-v2
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

added director-v2 in the stack
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

Update mail address for HTTP challenges
  services/traefik/docker-compose.letsencrypt.http.yml
Owners: @sanderegg

Update config
  repo.config
Owners: none

Update mail server version
  services/mail/docker-compose-aws.yml
  services/mail/docker-compose.yml
  services/mail/setup.sh
  services/mail/template.env
Owners: @sanderegg

Update mail server version
  services/mail/docker-compose-aws.yml
  services/mail/docker-compose.yml
  services/mail/setup.sh
  services/mail/template.env
Owners: @sanderegg

Update mail address for HTTP challenges
  services/traefik/docker-compose.letsencrypt.http.yml
Owners: @sanderegg

Migration files update
  scripts/volumes-backup-and-restore/template.env
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
Owners: none

Making Minio parametrizable for Master and Dalco cluster
  repo.config
  services/minio/Makefile
  services/minio/docker-compose.yaml.j2
  services/minio/template.env
Owners: @pcrespov, @sanderegg

Minio JWT token is compatible with dalco and Master + add make up-master + remove pg-backup from master-stack + divers minor typos and bugfix
  Makefile
  scripts/deployments/deploy.sh
  scripts/minio_prometheus_token.bash
  services/adminer/Makefile
  services/deployment-agent/Makefile
  services/graylog/Makefile
  services/jaeger/Makefile
  services/mail/Makefile
  services/minio/Makefile
  services/monitoring/Makefile
  services/pg-backup/Makefile
  services/portainer/Makefile
  services/redis-commander/Makefile
  services/registry/Makefile
  services/simcore/Makefile
  services/traefik/Makefile
Owners: @pcrespov

Update config
  repo.config
Owners: none

Correct jinja template typo for minio
  services/minio/docker-compose.yaml.j2
Owners: @sanderegg

Making Minio parametrizable for Master and Dalco cluster
  repo.config
  services/minio/Makefile
  services/minio/docker-compose.yaml.j2
  services/minio/template.env
Owners: @pcrespov, @sanderegg

Correct jinja template typo for minio
  services/minio/docker-compose.yaml.j2
Owners: @sanderegg

Minio JWT token is compatible with dalco and Master + add make up-master + remove pg-backup from master-stack + divers minor typos and bugfix
  Makefile
  scripts/deployments/deploy.sh
  scripts/minio_prometheus_token.bash
  services/adminer/Makefile
  services/deployment-agent/Makefile
  services/graylog/Makefile
  services/jaeger/Makefile
  services/mail/Makefile
  services/minio/Makefile
  services/monitoring/Makefile
  services/pg-backup/Makefile
  services/portainer/Makefile
  services/redis-commander/Makefile
  services/registry/Makefile
  services/simcore/Makefile
  services/traefik/Makefile
Owners: @pcrespov

Add parameters for mattermost config in deployment agent
  repo.config
  services/deployment-agent/deployment_config.default.yaml
Owners: @sanderegg

Add parameters for mattermost config in deployment agent
  repo.config
  services/deployment-agent/deployment_config.default.yaml
Owners: @sanderegg

Tags parametrization for deployment-agent
  repo.config
  services/deployment-agent/deployment_config.default.yaml
Owners: @sanderegg

Tags parametrization for deployment-agent
  repo.config
  services/deployment-agent/deployment_config.default.yaml
Owners: @sanderegg

Add SCICRUNCH_API_KEY= variable
  repo.config
  services/simcore/template.env
Owners: @sanderegg

Add SCICRUNCH_API_KEY= variable
  repo.config
  services/simcore/template.env
Owners: @sanderegg

Mail server - add amavis config to stop putting mails in quarantine
  .gitignore
  services/mail/Makefile
  services/mail/config/amavis.cf
Owners: @pcrespov, @sanderegg

Mail server - add amavis config to stop putting mails in quarantine
  .gitignore
  services/mail/Makefile
  services/mail/config/amavis.cf
Owners: @pcrespov, @sanderegg

Correction smtp host + makefil comment
  services/deployment-agent/Makefile
  services/simcore/template.env
Owners: @pcrespov, @sanderegg

Correction smtp host + makefil comment
  services/deployment-agent/Makefile
  services/simcore/template.env
Owners: @pcrespov, @sanderegg

Correct typo makefile minio
  services/minio/Makefile
Owners: @pcrespov

Correct typo makefile minio
  services/minio/Makefile
Owners: @pcrespov

Add SQL script for deleting connections to DB + syncrhonize migration files
  scripts/migration/.env
  scripts/remove_connections_delete_db.SQL
Owners: none

Add SQL script for deleting connections to DB + syncrhonize migration files
  scripts/migration/.env
  scripts/migration/s3-data-migration.bash
  scripts/migration/s3-registry-migration.bash
  scripts/remove_connections_delete_db.SQL
Owners: none

Update volume backup and restore script location
  scripts/migration/volumes-backup-and-restore/Makefile
  scripts/migration/volumes-backup-and-restore/template.env
  scripts/migration/volumes-backup-and-restore/volume-backup-and-restore.bash
Owners: @pcrespov

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov
