Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov

fixed CPU consumption
  services/monitoring/grafana/osparc.io/dashboards/nih-metrics/11.json
Owners: @sanderegg

convert seconds to hours
  services/monitoring/grafana/osparc.speag.com/dashboards/nih-metrics/12.json
Owners: @sanderegg

Add SFTP server service + update deploy script
  scripts/deployments/deploy.sh
  services/monitoring/docker-compose.aws.yml
  services/sftp-server/Makefile
  services/sftp-server/README.md
  services/sftp-server/docker-compose.aws.yml
  services/sftp-server/docker-compose.letsencrypt.dns.yml
  services/sftp-server/docker-compose.letsencrypt.http.yml
  services/sftp-server/docker-compose.yml
  services/sftp-server/template.env
Owners: @sanderegg, @pcrespov

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix Grafana simcore dashboard
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/9.json
Owners: @sanderegg

Fix grafana simcore dashboard
  services/monitoring/grafana/osparc.io/dashboards/simcore/23.json
Owners: @sanderegg

Fix exporter config for prometheus
  services/monitoring/prometheus/prometheus-master.yml
  services/simcore/template.env
Owners: @sanderegg

Fix exporter config for prometheus
  services/monitoring/prometheus/prometheus-master.yml
  services/simcore/template.env
Owners: @sanderegg

Maintenance page : fix image not appearing on some links
  services/maintenance-page/page/index.html
  services/maintenance-page/page/osparc-white.svg
  services/maintenance-page/page/panda.png
Owners: @sanderegg

Maintenance page : fix image not appearing on some links
  services/maintenance-page/page/index.html
  services/maintenance-page/page/osparc-white.svg
  services/maintenance-page/page/panda.png
Owners: @sanderegg

Merge branch 'enhanceGrafanaImportExportScripts' into 'osparc-master.speag.com'
  services/monitoring/grafana/scripts/.gitignore
  services/monitoring/grafana/scripts/export.py
  services/monitoring/grafana/scripts/import.py
  services/monitoring/grafana/scripts/requirements.txt
Owners: @sanderegg

Set prometheus retention time to 1year
  repo.config
Owners: none

Add TLS configuration to mail server + fix traefik bug that would let him spawn on the ops node
  services/mail/docker-compose.yml
  services/mail/template.env
  services/traefik/docker-compose.aws.yml
Owners: @sanderegg

Add TLS configuration to mail server + fix traefik bug that would let him spawn on the ops node
  services/mail/docker-compose.yml
  services/mail/template.env
  services/traefik/docker-compose.aws.yml
Owners: @sanderegg

Fix bug in the way traefik labels hostnames were dynamically created (The bug made it mandatory to put two times the same value into FQDN and FQDNs variable to have something working) + refactor
  services/simcore/Makefile
Owners: @pcrespov

Fix bug in the way traefik labels hostnames were dynamically created (The bug made it mandatory to put two times the same value into FQDN and FQDNs variable to have something working) + refactor
  services/simcore/Makefile
Owners: @pcrespov

Change FQDNS variable to correct value (without repeating the FQDN variable)
  repo.config
Owners: none

Merge branch 'enhanceGrafanaImportExportScripts' into 'osparc-master.speag.com'
  services/monitoring/grafana/scripts/.gitignore
  services/monitoring/grafana/scripts/export.py
  services/monitoring/grafana/scripts/import.py
  services/monitoring/grafana/scripts/requirements.txt
Owners: @sanderegg

Change prometheus retention time to 1y
  repo.config
Owners: none

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

DevOps Changes for Release 1.23.0
  repo.config
  services/simcore/template.env
Owners: @sanderegg

Update simcore .env
  services/simcore/.env
Owners: @sanderegg

Add new deployment agent version
  services/deployment-agent/Makefile
  services/deployment-agent/VERSION
  services/deployment-agent/deployment_config.template.yaml
  services/deployment-agent/docker-compose-aws.yml
  services/deployment-agent/docker-compose.devel.yaml
  services/deployment-agent/docker-compose.yml
  services/deployment-agent/template.env
Owners: @pcrespov, @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Ädd Docker Hub URL to repo.config
  repo.config
Owners: none

Fix certificate issue for non-limited rates traefik labels
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix certificate issue for non-limited rates traefik labels
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Update config
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add email notifications to graylog in provisioning python script
  repo.config
  services/graylog/scripts/configure.py
Owners: @sanderegg

Rename S3_BACKEND env-var
  repo.config
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

Add email notifications to graylog in provisioning python script
  repo.config
  services/graylog/scripts/configure.py
Owners: @sanderegg

Rename S3_BACKEND env-var
  repo.config
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

Fix wrong config for new deployment agent
  repo.config
Owners: none

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix cert resolver for test simcore api without rates limites in simcore
  services/simcore/docker-compose.yml
Owners: @sanderegg

Update simcore config
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix cert resolver for test simcore api without rates limites in simcore
  services/simcore/docker-compose.yml
Owners: @sanderegg

Update config
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg
