Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov

Fix folder missing in folders
  services/monitoring/scripts/export.py
  services/monitoring/scripts/import.py
Owners: @sanderegg

Fix folder import problem + dynamic import
  services/monitoring/scripts/import.py
Owners: @sanderegg

grafana export/import fix folder name
  services/monitoring/scripts/export.py
  services/monitoring/scripts/import.py
Owners: @sanderegg

Fix simcore production name
  repo.config
Owners: none

Fix grafanareader source for grafana export/import script
  services/monitoring/scripts/import.py
Owners: @sanderegg

Master grafana files
  services/monitoring/grafana/osparc-master.speag.com/dashboards/gitlab/9.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/nih-metrics/18.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/14.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/15.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/16.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/17.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/10.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/11.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/12.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/13.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/6.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/7.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/8.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/1.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/2.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/3.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/4.json
Owners: @sanderegg

Master grafana files
  services/monitoring/grafana/osparc-master.speag.com/dashboards/gitlab/9.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/nih-metrics/18.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/14.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/15.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/16.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/17.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/10.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/11.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/12.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/13.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/6.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/7.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/8.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/1.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/2.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/3.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/4.json
Owners: @sanderegg

Add aws grafana config
  services/monitoring/grafana/scripts/README.MD
  services/monitoring/grafana/scripts/export.py
  services/monitoring/grafana/scripts/import.py
  services/monitoring/grafana/scripts/requirements.txt
  services/monitoring/grafana/staging.osparc.io/dashboards/gitlab/19.json
  services/monitoring/grafana/staging.osparc.io/dashboards/gitlab/20.json
  services/monitoring/grafana/staging.osparc.io/dashboards/gitlab/21.json
  services/monitoring/grafana/staging.osparc.io/dashboards/nih-metrics/18.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/11.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/12.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/13.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/14.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/15.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/16.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/17.json
  services/monitoring/grafana/staging.osparc.io/dashboards/simcore/22.json
  services/monitoring/grafana/staging.osparc.io/dashboards/simcore/23.json
  services/monitoring/grafana/staging.osparc.io/dashboards/simcore/24.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/10.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/6.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/7.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/8.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/9.json
  services/monitoring/grafana/staging.osparc.io/datasources/1.json
  services/monitoring/grafana/staging.osparc.io/datasources/2.json
  services/monitoring/grafana/staging.osparc.io/datasources/3.json
  services/monitoring/grafana/staging.osparc.io/datasources/4.json
Owners: @sanderegg

Add aws grafana config
  services/monitoring/grafana/scripts/README.MD
  services/monitoring/grafana/scripts/export.py
  services/monitoring/grafana/scripts/import.py
  services/monitoring/grafana/scripts/requirements.txt
  services/monitoring/grafana/staging.osparc.io/dashboards/gitlab/19.json
  services/monitoring/grafana/staging.osparc.io/dashboards/gitlab/20.json
  services/monitoring/grafana/staging.osparc.io/dashboards/gitlab/21.json
  services/monitoring/grafana/staging.osparc.io/dashboards/nih-metrics/18.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/11.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/12.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/13.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/14.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/15.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/16.json
  services/monitoring/grafana/staging.osparc.io/dashboards/ops/17.json
  services/monitoring/grafana/staging.osparc.io/dashboards/simcore/22.json
  services/monitoring/grafana/staging.osparc.io/dashboards/simcore/23.json
  services/monitoring/grafana/staging.osparc.io/dashboards/simcore/24.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/10.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/6.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/7.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/8.json
  services/monitoring/grafana/staging.osparc.io/dashboards/system/9.json
  services/monitoring/grafana/staging.osparc.io/datasources/1.json
  services/monitoring/grafana/staging.osparc.io/datasources/2.json
  services/monitoring/grafana/staging.osparc.io/datasources/3.json
  services/monitoring/grafana/staging.osparc.io/datasources/4.json
Owners: @sanderegg

aws prod grafana config
  services/monitoring/grafana/osparc.io/dashboards/gitlab/20.json
  services/monitoring/grafana/osparc.io/dashboards/gitlab/21.json
  services/monitoring/grafana/osparc.io/dashboards/gitlab/22.json
  services/monitoring/grafana/osparc.io/dashboards/nih-metrics/17.json
  services/monitoring/grafana/osparc.io/dashboards/ops/10.json
  services/monitoring/grafana/osparc.io/dashboards/ops/11.json
  services/monitoring/grafana/osparc.io/dashboards/ops/23.json
  services/monitoring/grafana/osparc.io/dashboards/ops/6.json
  services/monitoring/grafana/osparc.io/dashboards/ops/7.json
  services/monitoring/grafana/osparc.io/dashboards/ops/8.json
  services/monitoring/grafana/osparc.io/dashboards/ops/9.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/2.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/3.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/4.json
  services/monitoring/grafana/osparc.io/dashboards/system/13.json
  services/monitoring/grafana/osparc.io/dashboards/system/14.json
  services/monitoring/grafana/osparc.io/dashboards/system/15.json
  services/monitoring/grafana/osparc.io/dashboards/system/18.json
  services/monitoring/grafana/osparc.io/dashboards/system/24.json
  services/monitoring/grafana/osparc.io/datasources/13.json
  services/monitoring/grafana/osparc.io/datasources/2.json
  services/monitoring/grafana/osparc.io/datasources/26.json
  services/monitoring/grafana/osparc.io/datasources/52.json
Owners: @sanderegg

repo.config config global password
  repo.config
Owners: none

aws prod grafana config
  services/monitoring/grafana/osparc.io/dashboards/gitlab/20.json
  services/monitoring/grafana/osparc.io/dashboards/gitlab/21.json
  services/monitoring/grafana/osparc.io/dashboards/gitlab/22.json
  services/monitoring/grafana/osparc.io/dashboards/nih-metrics/17.json
  services/monitoring/grafana/osparc.io/dashboards/ops/10.json
  services/monitoring/grafana/osparc.io/dashboards/ops/11.json
  services/monitoring/grafana/osparc.io/dashboards/ops/23.json
  services/monitoring/grafana/osparc.io/dashboards/ops/6.json
  services/monitoring/grafana/osparc.io/dashboards/ops/7.json
  services/monitoring/grafana/osparc.io/dashboards/ops/8.json
  services/monitoring/grafana/osparc.io/dashboards/ops/9.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/2.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/3.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/4.json
  services/monitoring/grafana/osparc.io/dashboards/system/13.json
  services/monitoring/grafana/osparc.io/dashboards/system/14.json
  services/monitoring/grafana/osparc.io/dashboards/system/15.json
  services/monitoring/grafana/osparc.io/dashboards/system/18.json
  services/monitoring/grafana/osparc.io/dashboards/system/24.json
  services/monitoring/grafana/osparc.io/datasources/13.json
  services/monitoring/grafana/osparc.io/datasources/2.json
  services/monitoring/grafana/osparc.io/datasources/26.json
  services/monitoring/grafana/osparc.io/datasources/52.json
Owners: @sanderegg

Clean grafana scripts
  services/monitoring/scripts/export.py
  services/monitoring/scripts/import.py
  services/monitoring/scripts/requirements.txt
  services/monitoring/scripts/test.bash
Owners: @sanderegg

Repo config master pwd config
  repo.config
Owners: none

Add dalco grafana config
  services/monitoring/docker-compose.dalco.yml
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/6.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/7.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/8.json
  services/monitoring/grafana/osparc.speag.com/dashboards/nih-metrics/12.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/18.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/19.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/20.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/21.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/22.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/23.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/24.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/10.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/11.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/9.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/13.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/14.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/15.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/16.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/17.json
  services/monitoring/grafana/osparc.speag.com/datasources/1.json
  services/monitoring/grafana/osparc.speag.com/datasources/2.json
  services/monitoring/grafana/osparc.speag.com/datasources/3.json
  services/monitoring/grafana/osparc.speag.com/datasources/4.json
Owners: @sanderegg

Add dalco grafana config
  services/monitoring/docker-compose.dalco.yml
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/6.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/7.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/8.json
  services/monitoring/grafana/osparc.speag.com/dashboards/nih-metrics/12.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/18.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/19.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/20.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/21.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/22.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/23.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/24.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/10.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/11.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/9.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/13.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/14.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/15.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/16.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/17.json
  services/monitoring/grafana/osparc.speag.com/datasources/1.json
  services/monitoring/grafana/osparc.speag.com/datasources/2.json
  services/monitoring/grafana/osparc.speag.com/datasources/3.json
  services/monitoring/grafana/osparc.speag.com/datasources/4.json
Owners: @sanderegg

Remove provisionning for grafana
  services/monitoring/docker-compose.yml
Owners: @sanderegg

Maintenance page
  Makefile
  repo.config
  services/maintenance-page/Makefile
  services/maintenance-page/docker-compose.yml
  services/maintenance-page/page/index.html
  services/maintenance-page/page/osparc-white.svg
  services/maintenance-page/page/panda.png
  services/maintenance-page/template.env
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.maintenance.down.yml
  services/simcore/docker-compose.deploy.maintenance.up.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
  services/traefik/docker-compose.yml
Owners: @pcrespov, @sanderegg

git puMaintenance page
  Makefile
  repo.config
  services/maintenance-page/Makefile
  services/maintenance-page/docker-compose.yml
  services/maintenance-page/page/index.html
  services/maintenance-page/page/osparc-white.svg
  services/maintenance-page/page/panda.png
  services/maintenance-page/template.env
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.maintenance.down.yml
  services/simcore/docker-compose.deploy.maintenance.up.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
  services/traefik/docker-compose.yml
Owners: @pcrespov, @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

git commit -m "Simcore service config"
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

DevOps Changes for release v1.18.0
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

DevOps Changes for release v1.18.0
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Change aws production config for prometheus and grafana
  services/monitoring/docker-compose.aws.yml
Owners: @sanderegg

Update config
  repo.config
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Update graylog config for AWS
  services/graylog/docker-compose.aws.yml
Owners: @sanderegg

Change Ops services config to go on Ops node
  services/adminer/docker-compose.aws.yml
  services/graylog/docker-compose.aws.yml
  services/jaeger/docker-compose.aws.yml
  services/portainer/docker-compose.aws.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correction of Panda img + cleaning repo
  services/monitoring/Makefile
  services/simcore/docker-compose.deploy.maintenance.up.yml
Owners: @pcrespov, @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix director bug to connect to registry
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Fix CORS issues for services
  services/simcore/.env
  services/simcore/Makefile
Owners: @sanderegg, @pcrespov

Portainer last version + traefik wildcard for services + pgbackup counstraint fix
  services/pg-backup/docker-compose.yml
  services/portainer/docker-compose.yml
  services/traefik/docker-compose.dalco.yml
Owners: @sanderegg

Add export and import grafana makefile + last version of Grafana files for Master
  services/monitoring/Makefile
  services/monitoring/grafana/osparc-master.speag.com/dashboards/gitlab/9.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/nih-metrics/18.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/14.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/15.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/16.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/17.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/10.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/11.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/12.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/13.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/6.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/7.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/8.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/1.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/2.json
Owners: @pcrespov, @sanderegg

Add export and import grafana makefile + last version of Grafana files for Master
  services/monitoring/Makefile
  services/monitoring/grafana/osparc-master.speag.com/dashboards/gitlab/9.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/nih-metrics/18.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/14.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/15.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/16.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/ops/17.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/10.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/11.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/12.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/simcore/13.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/6.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/7.json
  services/monitoring/grafana/osparc-master.speag.com/dashboards/system/8.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/1.json
  services/monitoring/grafana/osparc-master.speag.com/datasources/2.json
Owners: @pcrespov, @sanderegg

Graylog configuration in python + correction of input added at each start + README to find the correct API link
  services/graylog/Makefile
  services/graylog/README.md
  services/graylog/docker-compose.yml
  services/graylog/scripts/README.md
  services/graylog/scripts/configure.py
  services/graylog/scripts/requirements.txt
Owners: @pcrespov, @sanderegg

Add configure of graylog to deploy script
  scripts/deployments/deploy.sh
Owners: none

Add configure of graylog to deploy script
  scripts/deployments/deploy.sh
Owners: none
