Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov

set comment at right line
  services/minio/Makefile
Owners: @pcrespov

fix mountpoints to cover all partitions
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601455694638.json
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

fix mountpoint everywhere
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

revert second part of fix
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

revert last part
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

Fix prometheus bug on startup - giving him more memory
  services/monitoring/docker-compose.yml
Owners: @sanderegg

Fix prometheus bug on startup - giving him more memory
  services/monitoring/docker-compose.yml
Owners: @sanderegg

update RABBIT_CHANNELS
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

added dashboard to show only simcore services
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

removed celery from RABBIT_CHANNELS environ
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Update minio config
  repo.config
  services/minio/template.env
Owners: @sanderegg

Fix redis missing host prefix name
  services/redis-commander/docker-compose.yml
  services/redis-commander/template.env
Owners: @sanderegg

Fix redis missing host prefix name
  services/redis-commander/docker-compose.yml
  services/redis-commander/template.env
Owners: @sanderegg

added dashboard to show only simcore services
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

Update graylog + add placement counstraint to remove it from the simcore node
  services/graylog/docker-compose.yml
Owners: @sanderegg

Update graylog + add placement counstraint to remove it from the simcore node
  services/graylog/docker-compose.yml
Owners: @sanderegg

Correct redis config in dalco + correct comments in general makefile
  Makefile
  services/redis-commander/Makefile
  services/redis-commander/docker-compose.dalco.yml
Owners: @pcrespov, @sanderegg

Correct redis config in dalco + correct comments in general makefile
  Makefile
  services/redis-commander/Makefile
  services/redis-commander/docker-compose.dalco.yml
Owners: @pcrespov, @sanderegg

add login information
  services/deployment-agent/deployment_config.default.yaml
Owners: @sanderegg

bring deployer dockerhub tokens in
  repo.config
  services/deployment-agent/deployment_config.default.yaml
  services/deployment-agent/template.env
Owners: @sanderegg

fix typo in makefile
  services/deployment-agent/Makefile
Owners: @pcrespov

use token for dockerhub password remove duplicate env variables use same variable for portainer and deployer
  repo.config
  services/deployment-agent/deployment_config.default.yaml
  services/deployment-agent/template.env
Owners: @sanderegg

use --with-registry-auth to pass registry authentication details to swarm agents use --prune to prune services that are no longer referenced
  services/adminer/Makefile
  services/deployment-agent/Makefile
  services/graylog/Makefile
  services/jaeger/Makefile
  services/mail/Makefile
  services/maintenance/Makefile
  services/minio/Makefile
  services/monitoring/Makefile
  services/pg-backup/Makefile
  services/portainer/Makefile
  services/redis-commander/Makefile
  services/registry/Makefile
  services/traefik/Makefile
  services/traefik/tests/Makefile
Owners: @pcrespov

use token for dockerhub password remove duplicate env variables use same variable for portainer and deployer
  repo.config
  services/deployment-agent/deployment_config.default.yaml
  services/deployment-agent/template.env
Owners: @sanderegg

use --with-registry-auth to pass registry authentication details to swarm agents use --prune to prune services that are no longer referenced
  services/adminer/Makefile
  services/deployment-agent/Makefile
  services/graylog/Makefile
  services/jaeger/Makefile
  services/mail/Makefile
  services/maintenance/Makefile
  services/minio/Makefile
  services/monitoring/Makefile
  services/pg-backup/Makefile
  services/portainer/Makefile
  services/redis-commander/Makefile
  services/registry/Makefile
  services/traefik/Makefile
  services/traefik/tests/Makefile
Owners: @pcrespov

update scripts migration
  scripts/migration/s3-data-migration.bash
  scripts/migration/s3-registry-migration.bash
  scripts/volumes-backup-and-restore/Makefile
  scripts/volumes-backup-and-restore/template.env
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
Owners: @pcrespov

Update config after migration
  repo.config
  services/simcore/.env
Owners: @sanderegg

Update compose simcore config
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add DNS challenges to AWS + solve bugs in migration files
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
  services/adminer/Makefile
  services/graylog/Makefile
  services/jaeger/Makefile
  services/monitoring/Makefile
  services/portainer/Makefile
  services/redis-commander/Makefile
  services/registry/Makefile
  services/simcore/Makefile
  services/traefik/docker-compose.aws.yml
Owners: @pcrespov, @sanderegg

Correct bug in volumes script
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
Owners: none

Fix aws NIH metrics datasources bug
  services/monitoring/grafana/provisioning/datasources/datasource.aws.yml.template
Owners: @sanderegg

Update config
  repo.config
Owners: none

Fix aws NIH metrics datasources bug
  services/monitoring/grafana/provisioning/datasources/datasource.aws.yml.template
Owners: @sanderegg

adding gitlab dashboards
  services/monitoring/docker-compose.yml
  services/monitoring/gitlab-ci-pipelines-exporter/config.yml
  services/monitoring/grafana/provisioning/dashboards/dashboard.yml
  services/monitoring/grafana/provisioning/dashboards/gitlab/dashboard_environments.json
  services/monitoring/grafana/provisioning/dashboards/gitlab/dashboard_jobs.json
  services/monitoring/grafana/provisioning/dashboards/gitlab/dashboard_pipelines.json
  services/monitoring/grafana/template-config.monitoring
  services/monitoring/prometheus/prometheus-base.yml
Owners: @sanderegg

monitoring is not updated
  services/monitoring/Makefile
Owners: @pcrespov

adding gitlab dashboards
  services/monitoring/docker-compose.yml
  services/monitoring/gitlab-ci-pipelines-exporter/config.yml
  services/monitoring/grafana/provisioning/dashboards/dashboard.yml
  services/monitoring/grafana/provisioning/dashboards/gitlab/dashboard_environments.json
  services/monitoring/grafana/provisioning/dashboards/gitlab/dashboard_jobs.json
  services/monitoring/grafana/provisioning/dashboards/gitlab/dashboard_pipelines.json
  services/monitoring/grafana/template-config.monitoring
  services/monitoring/prometheus/prometheus-base.yml
Owners: @sanderegg

monitoring is not updated
  services/monitoring/Makefile
Owners: @pcrespov

fix prometheus scraping configuration
  services/jaeger/docker-compose.yml
  services/monitoring/Makefile
  services/monitoring/docker-compose.yml
  services/monitoring/gitlab-ci-pipelines-exporter/config.yml
  services/monitoring/prometheus/prometheus-base.yml
  services/monitoring/prometheus/prometheus-dalco.yml
  services/registry/docker-compose.yml
  services/traefik/docker-compose.yml
Owners: @sanderegg, @pcrespov

formatting
  services/portainer/Makefile
Owners: @pcrespov

formatting
  services/monitoring/prometheus/prometheus-dalco.yml
Owners: @sanderegg
