Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

Update prod dalco config
  repo.config
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix postgres placement
  services/simcore/docker-compose.deploy.dalco.yml
Owners: @sanderegg

Update config pro dalco
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add WEBSERVER_DEV_FEATURES_ENABLED variable
  scripts/migration/s3-data-migration.bash
  scripts/minio-infos/minio-infos.bash
  scripts/minio-infos/minio-test-mirror.bash
  scripts/minio_prometheus_token.bash
  scripts/s3-previous-versions/README.md
  scripts/s3-previous-versions/launch.bash
  scripts/s3-previous-versions/template.env
  services/redis-commander/Makefile
  services/traefik/docker-compose.letsencrypt.dns.yml
Owners: @pcrespov, @sanderegg

fix redis + info mod traefik + script for previous s3 version + fix bug in S3 data migration/minio-infos script + add mirroring s3 script + change minio version
  scripts/migration/s3-data-migration.bash
  scripts/minio-infos/minio-infos.bash
  scripts/minio-infos/minio-test-mirror.bash
  scripts/minio_prometheus_token.bash
  scripts/s3-previous-versions/README.md
  scripts/s3-previous-versions/launch.bash
  scripts/s3-previous-versions/template.env
  services/redis-commander/Makefile
  services/traefik/docker-compose.letsencrypt.dns.yml
Owners: @pcrespov, @sanderegg

use correct ENV to set POSTGRES_ENDPOINT
  services/simcore/template.env
Owners: @sanderegg

upgraded adminer to 4.8.0
  services/adminer/docker-compose.yml
Owners: @sanderegg

sidecar stop first when updating
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

use correct ENV to set POSTGRES_ENDPOINT
  services/simcore/template.env
Owners: @sanderegg

upgraded adminer to 4.8.0
  services/adminer/docker-compose.yml
Owners: @sanderegg

sidecar stop first when updating
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

catalog configuration missing
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

catalog configuration missing
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Graylog config for dalco
  services/graylog/Makefile
  services/graylog/docker-compose.dalco.yml
Owners: @pcrespov, @sanderegg

Upgrade Portainer version
  services/portainer/docker-compose.aws.yml
  services/portainer/docker-compose.yml
Owners: @sanderegg

Mail server update version + setup e2e account
  services/mail/Makefile
  services/mail/config/amavis.cf
  services/mail/docker-compose.yml
Owners: @pcrespov, @sanderegg

Upgrade Portainer version
  services/portainer/docker-compose.aws.yml
  services/portainer/docker-compose.yml
Owners: @sanderegg

Minio infos for all buckets
  scripts/minio-infos/minio-infos.bash
Owners: none

Minio infos for all buckets
  scripts/minio-infos/minio-infos.bash
Owners: none

add DIAGNOSTICS_MAX_AVG_LATENCY with value of 30 for simcore env
  repo.config
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Update minio version + remove JWT token for prometheus authentification + update minio metrics for prometheus to the last version
  repo.config
  scripts/deployments/deploy.sh
  scripts/minio_prometheus_token.bash
  services/minio/Makefile
  services/minio/docker-compose.yaml.j2
  services/monitoring/Makefile
Owners: @pcrespov, @sanderegg

gUpdate minio version + remove JWT token for prometheus authentification + update minio metrics for prometheus to the last version
  repo.config
  scripts/deployments/deploy.sh
  scripts/minio_prometheus_token.bash
  services/minio/Makefile
  services/minio/docker-compose.yaml.j2
  services/monitoring/Makefile
  services/monitoring/prometheus/prometheus-master.yml
Owners: @pcrespov, @sanderegg

Change config
  repo.config
Owners: none

Remove var
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

issue #2267, change docker-compose version
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

issue #2267, change docker-compose version
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Add Warp testing
  scripts/minio-infos/warp.bash
Owners: none

Add Warp testing
  scripts/minio-infos/warp.bash
Owners: none

disable tracing (blocking calls)
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

disable tracing (blocking calls)
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

redis-commander multiple entries: #2381
  services/redis-commander/docker-compose.yml
Owners: @sanderegg

correct string
  services/redis-commander/docker-compose.yml
Owners: @sanderegg

missing variables
  services/redis-commander/template.env
Owners: @sanderegg

also upgrade for dalco
  services/redis-commander/docker-compose.dalco.yml
Owners: @sanderegg

redis-commander multiple entries: #2381
  services/redis-commander/docker-compose.yml
Owners: @sanderegg

correct string
  services/redis-commander/docker-compose.yml
Owners: @sanderegg

missing variables
  services/redis-commander/template.env
Owners: @sanderegg

also upgrade for dalco
  services/redis-commander/docker-compose.dalco.yml
Owners: @sanderegg

Release 1.12.0 add static webserver to docker-compose deploy in service simcore
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Release 1.12.0
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov
