Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

Add parametrization for deployer
  services/deployment-agent/Makefile
  services/deployment-agent/deployment_config.default.yaml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @pcrespov, @sanderegg

Logic for deployeur is now in his makefile. Only the taggs are missing. Branch and git link are now paramatrized.
  repo.config
  scripts/deployments/aws-deploy.sh
  services/deployment-agent/Makefile
  services/deployment-agent/deployment_config.default.yaml
  services/deployment-agent/template.env
  services/simcore/template.docker-compose.deploy.yml
Owners: @pcrespov, @sanderegg

Change pwd for dev env
  repo.config
  services/monitoring/grafana/config.monitoring
  services/simcore/.env
Owners: @sanderegg

Portainer secret removed and created automatically
  services/deployment-agent/Makefile
  services/deployment-agent/deployment_config.default.yaml
  services/portainer/Makefile
Owners: @pcrespov, @sanderegg

Delete grafana config
  services/monitoring/grafana/config.monitoring
Owners: @sanderegg

Add grafana config to gitignore
  .gitignore
Owners: none

Add DNS for psgql exporter
  services/deployment-agent/deployment_config.default.yaml
  services/monitoring/docker-compose.yml
Owners: @sanderegg

cleanup
  services/traefik/docker-compose.yml
Owners: @sanderegg

enable api-server
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add last modif from prod
  services/simcore/docker-compose.yml
Owners: @sanderegg

Add minio config, add production config, adapt minio for dns challenge, add mode deployer only
  Makefile
  repo.config
  scripts/deployments/aws-deploy.sh
  services/minio/docker-compose.letsencrypt.yaml.j2
  services/minio/template.env
  services/simcore/.env
Owners: @pcrespov, @sanderegg

Add automatic generation of WEBSERVER_SESSION_SECRET_KEY
  Makefile
  scripts/deployments/aws-deploy.sh
Owners: @pcrespov

prod dalco config
  repo.config
  services/simcore/.env
Owners: @sanderegg

Dalco customisation
  Makefile
  scripts/deployments/aws-deploy.sh
  services/minio/docker-compose.yaml.j2
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/template.env
  services/traefik/Makefile
  services/traefik/docker-compose.dalco.yml
  services/traefik/docker-compose.letsencrypt.yml
  services/traefik/docker-compose.yml
  services/traefik/template.env
Owners: @pcrespov, @sanderegg

cleanup minio setup
  services/minio/docker-compose.letsencrypt.yaml.j2
  services/minio/docker-compose.yaml.j2
Owners: @sanderegg

upgraded minio to same version as master
  services/minio/docker-compose.yaml.j2
Owners: @sanderegg

Add dns challenge for simcore stack
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Restore myresolver
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Master config for Maf
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Config for production
  services/simcore/.env
Owners: @sanderegg

Repo.config update
  repo.config
Owners: none

Many improvements
  scripts/deployments/aws-deploy.sh
  services/deployment-agent/deployment_config.default.yaml
  services/deployment-agent/template.env
  services/mail/docker-compose.yml
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/docker-compose.deploy.letsencrypt.dns.yml
  services/simcore/docker-compose.deploy.letsencrypt.http.yml
  services/simcore/template.env
  services/traefik/Makefile
  services/traefik/docker-compose.dalco.yml
  services/traefik/docker-compose.yml
  services/traefik/template.env
Owners: @sanderegg, @pcrespov

Many corrections
  Makefile
  scripts/deployments/aws-deploy.sh
Owners: @pcrespov

set the target sidecar CPUs to 48
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Simcore service improved
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/docker-compose.deploy.letsencrypt.http.yml
  services/simcore/docker-compose.yml
Owners: @pcrespov, @sanderegg

Production env --no-follow
  repo.config
  services/simcore/.env
Owners: @sanderegg

Compose deploy updated for production --nofollow
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker-compose deploy update --no-follow
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

More config for deploy
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix yq bug + fix docker-compose duplicate lines
  services/simcore/Makefile
  services/simcore/docker-compose.yml
Owners: @pcrespov, @sanderegg

Edit readme
  README.md
  scripts/migration/.env
Owners: none

Update .env No invitation required in osparc.speag.com (since it is internl to z43-network) This way any new member of z43 can freely register until we switch to LDAP system
  services/simcore/.env
Owners: @sanderegg

Add parametrization for MPi node parameter + fix for graylog config init
  repo.config
  services/deployment-agent/deployment_config.default.yaml
  services/deployment-agent/template.env
  services/graylog/Makefile
  services/simcore/docker-compose.deploy.dalco.yml
Owners: @sanderegg, @pcrespov

Pro dalco config updated
  repo.config
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix mail constraints
  services/mail/docker-compose.yml
Owners: @sanderegg

Add pg-backup service
  Makefile
  scripts/deployments/aws-deploy.sh
  services/pg-backup/Makefile
  services/pg-backup/docker-compose.yml
Owners: @pcrespov, @sanderegg

PG-backup config
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correct deploy script to work with both AWS and Dalco in one script. Add dalco and aws recipe in all makefiles
  Makefile
  scripts/deployments/deploy.sh
  services/adminer/Makefile
  services/deployment-agent/Makefile
  services/graylog/Makefile
  services/jaeger/Makefile
  services/mail/Makefile
  services/minio/Makefile
  services/pg-backup/Makefile
  services/portainer/Makefile
  services/redis-commander/Makefile
  services/registry/Makefile
  services/simcore/Makefile
  services/traefik/Makefile
Owners: @pcrespov

Fix bugs in deploy script (check if var is empty before using it) + fix a make up dalco missing in monitoring stack
  scripts/deployments/deploy.sh
  services/monitoring/Makefile
Owners: @pcrespov

Add portainer auto-configuration to add the dockerhub credential automatically
  repo.config
  scripts/deployments/deploy.sh
  services/deployment-agent/Makefile
  services/portainer/Makefile
Owners: @pcrespov

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov
