Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov

Add correct Logspout Regex to capture gunicorn logs with terminal color codes
  services/graylog/docker-compose.yml
Owners: @sanderegg

Add garbage collector interval to simcore .env
  repo.config
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Update portainer version
  services/portainer/docker-compose.yml
Owners: @sanderegg

Fix maintenance page issue - add constraint to start on the leaders node only
  services/maintenance-page/docker-compose.yml
Owners: @sanderegg

Necessary devops changes for simcore PR #2761
  repo.config
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

Try to make master run with new settings library of simcore, remove char from webserver secret - TRIAL2
  repo.config
  services/simcore/.env
Owners: @sanderegg

Add security header improvement
  services/traefik/docker-compose.yml
Owners: @sanderegg

Disable director dev-features
  repo.config
Owners: none

Trying to fix webserver issues
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
  services/simcore/template.env
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix webserver secret
  repo.config
  services/simcore/.env
Owners: @sanderegg

Proper env vars
  services/simcore/template.env
Owners: @sanderegg

Add security header improvement
  services/traefik/docker-compose.yml
Owners: @sanderegg

Fix wrong domain in new traefik config
  services/traefik/docker-compose.yml
Owners: @sanderegg

Fix FQDN/services/* issue while using the maintenance page + comment about FQDN format in repo.config
  repo.config
  services/maintenance-page/docker-compose.yml
  services/maintenance-page/nginx-config/default.conf
  services/maintenance-page/template.env
Owners: @sanderegg

Fix FQDN/services/* issue while using the maintenance page + comment about FQDN format in repo.config
  repo.config
  services/maintenance-page/docker-compose.yml
  services/maintenance-page/nginx-config/default.conf
  services/maintenance-page/template.env
Owners: @sanderegg

Update env of simcore
  services/simcore/.env
Owners: @sanderegg

Configure Graylog for sending mails
  services/graylog/docker-compose.yml
  services/graylog/template.env
Owners: @sanderegg

Configure Graylog for sending mails
  services/graylog/docker-compose.yml
  services/graylog/template.env
Owners: @sanderegg

Fix maintenance page ips Issue + add no cache policy + fix bug which prevented env variable to be substitued as they should
  services/maintenance-page/Makefile
  services/maintenance-page/nginx-config/default.conf
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.maintenance.up.yml
Owners: @pcrespov, @sanderegg

Fix maintenance page ips Issue + add no cache policy + fix bug which prevented env variable to be substitued as they should
  services/maintenance-page/Makefile
  services/maintenance-page/nginx-config/default.conf
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.maintenance.up.yml
Owners: @pcrespov, @sanderegg

New format for maintenance ips
  services/simcore/.env
Owners: @sanderegg

add nih metrics rule
  services/monitoring/prometheus/prometheus.rules.yml
Owners: @sanderegg

add nih metrics rule
  services/monitoring/prometheus/prometheus.rules.yml
Owners: @sanderegg

increase the interval to 1 hour
  services/monitoring/prometheus/prometheus.rules.yml
Owners: @sanderegg

fix name
  services/monitoring/prometheus/prometheus.rules.yml
Owners: @sanderegg

increase the interval to 1 hour
  services/monitoring/prometheus/prometheus.rules.yml
Owners: @sanderegg

fix name
  services/monitoring/prometheus/prometheus.rules.yml
Owners: @sanderegg

updated display of CPU usage
  services/monitoring/grafana/osparc.speag.com/dashboards/nih-metrics/12.json
Owners: @sanderegg

updated all dashboards
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/6.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/7.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/8.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/18.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/19.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/20.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/21.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/22.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/23.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/24.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/10.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/11.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/9.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/13.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/14.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/15.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/16.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/17.json
  services/monitoring/grafana/osparc.speag.com/datasources/1.json
  services/monitoring/grafana/osparc.speag.com/datasources/2.json
  services/monitoring/grafana/osparc.speag.com/datasources/3.json
  services/monitoring/grafana/osparc.speag.com/datasources/4.json
Owners: @sanderegg

updated display of CPU usage
  services/monitoring/grafana/osparc.speag.com/dashboards/nih-metrics/12.json
Owners: @sanderegg

updated all dashboards
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/6.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/7.json
  services/monitoring/grafana/osparc.speag.com/dashboards/gitlab/8.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/18.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/19.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/20.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/21.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/22.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/23.json
  services/monitoring/grafana/osparc.speag.com/dashboards/ops/24.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/10.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/11.json
  services/monitoring/grafana/osparc.speag.com/dashboards/simcore/9.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/13.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/14.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/15.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/16.json
  services/monitoring/grafana/osparc.speag.com/dashboards/system/17.json
  services/monitoring/grafana/osparc.speag.com/datasources/1.json
  services/monitoring/grafana/osparc.speag.com/datasources/2.json
  services/monitoring/grafana/osparc.speag.com/datasources/3.json
  services/monitoring/grafana/osparc.speag.com/datasources/4.json
Owners: @sanderegg

updated all dashboards
  services/monitoring/grafana/osparc.io/dashboards/gitlab/19.json
  services/monitoring/grafana/osparc.io/dashboards/gitlab/20.json
  services/monitoring/grafana/osparc.io/dashboards/gitlab/21.json
  services/monitoring/grafana/osparc.io/dashboards/nih-metrics/11.json
  services/monitoring/grafana/osparc.io/dashboards/ops/12.json
  services/monitoring/grafana/osparc.io/dashboards/ops/13.json
  services/monitoring/grafana/osparc.io/dashboards/ops/14.json
  services/monitoring/grafana/osparc.io/dashboards/ops/15.json
  services/monitoring/grafana/osparc.io/dashboards/ops/16.json
  services/monitoring/grafana/osparc.io/dashboards/ops/17.json
  services/monitoring/grafana/osparc.io/dashboards/ops/18.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/22.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/23.json
  services/monitoring/grafana/osparc.io/dashboards/simcore/24.json
  services/monitoring/grafana/osparc.io/dashboards/system/10.json
  services/monitoring/grafana/osparc.io/dashboards/system/6.json
  services/monitoring/grafana/osparc.io/dashboards/system/7.json
  services/monitoring/grafana/osparc.io/dashboards/system/8.json
  services/monitoring/grafana/osparc.io/dashboards/system/9.json
  services/monitoring/grafana/osparc.io/datasources/1.json
  services/monitoring/grafana/osparc.io/datasources/2.json
  services/monitoring/grafana/osparc.io/datasources/3.json
  services/monitoring/grafana/osparc.io/datasources/4.json
Owners: @sanderegg

fixed CPU consumption and units
  services/monitoring/grafana/osparc.speag.com/dashboards/nih-metrics/12.json
Owners: @sanderegg
