Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

Remove AWS gestion of https, traefik now handle it.
  repo.config
  scripts/deployments/aws-deploy.sh
  services/adminer/docker-compose.aws.yml
  services/graylog/docker-compose.aws.yml
  services/jaeger/docker-compose.aws.yml
  services/monitoring/docker-compose.aws.yml
  services/portainer/docker-compose.aws.yml
  services/redis-commander/docker-compose.aws.yml
  services/registry/docker-compose.aws.yml
  services/registry/docker-compose.yml
  services/simcore/docker-compose.deploy.yml
  services/traefik/docker-compose.aws.yml
  services/traefik/docker-compose.yml
Owners: @sanderegg

Same config for subscription as in pro
  repo.config
Owners: none

Add parameters for subscriptions in webserver
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Add mail auto-configuration
  repo.config
  scripts/deployments/aws-deploy.sh
  services/mail/config/dovecot-quotas.cf
  services/mail/setup.sh
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Mail setup corrections
  repo.config
  scripts/deployments/aws-deploy.sh
  services/simcore/.env
Owners: @sanderegg

mail correction bug + placement
  scripts/deployments/aws-deploy.sh
  services/mail/docker-compose.yml
Owners: @sanderegg

Fix mail bugs and add aliases
  scripts/deployments/aws-deploy.sh
  services/mail/Makefile
  services/mail/template.env
Owners: @pcrespov, @sanderegg

Add prod config
  repo.config
  services/simcore/.env
Owners: @sanderegg

More parameter for simcore .env
  repo.config
  scripts/deployments/aws-deploy.sh
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Add secret webserver key
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Passwords update for prod
  repo.config
  scripts/deployments/aws-deploy.sh
  services/monitoring/Makefile
  services/simcore/.env
Owners: @pcrespov, @sanderegg

Aws config for production
  README.md
Owners: none

Rabbit param
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Add whitelist from Z43 for monitoring
  repo.config
  services/deployment-agent/deployment_config.default.yaml
  services/portainer/template.env
  services/traefik/docker-compose.aws.yml
Owners: @sanderegg

grafana password set to traefik password
  services/monitoring/grafana/template-config.monitoring
Owners: @sanderegg

Gitignore ignore mail and grafana config
  .gitignore
Owners: none

Grafana config
  services/monitoring/grafana/config.monitoring
Owners: @sanderegg

Start to move the logic of deployement to makefiles
  scripts/deployments/aws-deploy.sh
  services/simcore/Makefile
  services/simcore/template.docker-compose.deploy.yml
Owners: @pcrespov, @sanderegg

Add migration scripts and dev environment
  repo.config
  scripts/migration/.env
  scripts/migration/db-backup.bash
  scripts/migration/db-restore.bash
  scripts/migration/s3-data-migration.bash
  scripts/migration/s3-registry-migration.bash
Owners: none

Add dns challenge
  repo.config
  services/adminer/docker-compose.aws.yml
  services/graylog/docker-compose.aws.yml
  services/jaeger/docker-compose.aws.yml
  services/monitoring/docker-compose.aws.yml
  services/portainer/docker-compose.aws.yml
  services/redis-commander/docker-compose.aws.yml
  services/registry/docker-compose.aws.yml
  services/simcore/docker-compose.deploy.yml
  services/traefik/docker-compose.aws.yml
Owners: @sanderegg

dev config
  scripts/deployments/aws-deploy.sh
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

merge with promoetheus parametrisation
  repo.config
  services/monitoring/template.env
Owners: @sanderegg

Add documentation for migrations scripts + creation of grafanauser with password
  scripts/migration/.env
  scripts/migration/db-restore.bash
  scripts/migration/readme.md
Owners: none

rename readme
  scripts/migration/README.md
Owners: none

Remove migration file
  scripts/migration/migration.bash
Owners: none

Add private and public ips in helpers. Add the public ip of the manager who hosts the stak to the whitelist
  Makefile
  certificates/Makefile
  repo.config
  scripts/deployments/aws-deploy.sh
  scripts/portable.sh
  services/deployment-agent/deployment_config.default.yaml
  services/deployment-agent/template.env
  services/registry/template.env
  services/simcore/Makefile
  services/simcore/template.docker-compose.deploy.yml
  services/traefik/Makefile
  services/traefik/docker-compose.aws.yml
Owners: @pcrespov, @sanderegg

Fix bug for substituting variables in the docker compose of simcore
  scripts/deployments/aws-deploy.sh
  services/simcore/docker-compose.deploy.yml
  services/simcore/template.docker-compose.deploy.yml
Owners: @sanderegg

Fix parametrization docker compose deploy in simcore
  scripts/deployments/aws-deploy.sh
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

More correction for docker-compose.deploy
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

More correction for docker-compose.deploy
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

More correction for docker-compose.deploy
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add backup and restore scripts for volumes, add customization depending of the stack for simcore service
  scripts/deployments/aws-deploy.sh
  scripts/volumes-backup-and-restore/Makefile
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.local.yml
  services/simcore/docker-compose.yml
Owners: @pcrespov, @sanderegg

Add ssh volume backup and restore
  repo.config
  scripts/volumes-backup-and-restore/Makefile
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
  services/mail/Makefile
Owners: @pcrespov

Add .env for volume backup and restore
  scripts/volumes-backup-and-restore/template.env
Owners: none

minor typo
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
Owners: none

minor typo
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
Owners: none

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov
