Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov

refactor .env migration
  scripts/migration/.env
  scripts/migration/template.env
Owners: none

Update volume backup and restore script location
  scripts/migration/volumes-backup-and-restore/Makefile
  scripts/migration/volumes-backup-and-restore/template.env
  scripts/migration/volumes-backup-and-restore/volume-backup-and-restore.bash
Owners: @pcrespov

refactor .env migration
  scripts/migration/.env
  scripts/migration/template.env
Owners: none

minio makefile whitespaces
  services/minio/Makefile
Owners: @pcrespov

minio makefile whitespaces
  services/minio/Makefile
Owners: @pcrespov

Add print all labels from all nodes in root Makefile
  Makefile
Owners: @pcrespov

Add print all labels from all nodes in root Makefile
  Makefile
Owners: @pcrespov

Traefik synchro
  services/traefik/docker-compose.letsencrypt.dns.yml
Owners: @sanderegg

Traefik synchro
  services/traefik/docker-compose.letsencrypt.dns.yml
  services/traefik/template.env
Owners: @sanderegg

Remove eof space
  services/traefik/docker-compose.dalco.yml
Owners: @sanderegg

Remove eof space
  services/traefik/docker-compose.dalco.yml
Owners: @sanderegg

Synchro simcore files
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.aws.yml
  services/simcore/docker-compose.deploy.letsencrypt.http.yml
  services/simcore/docker-compose.yml
Owners: @pcrespov, @sanderegg

Synchro simcore files
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.aws.yml
  services/simcore/docker-compose.deploy.letsencrypt.http.yml
  services/simcore/docker-compose.yml
Owners: @pcrespov, @sanderegg

Synchro monitoring
  services/monitoring/Makefile
  services/monitoring/docker-compose.aws.yml
  services/monitoring/docker-compose.letsencrypt.dns.yml
  services/monitoring/docker-compose.letsencrypt.http.yml
  services/monitoring/docker-compose.master.yml
  services/monitoring/docker-compose.yml
Owners: @pcrespov, @sanderegg

Synchro monitoring
  services/monitoring/Makefile
  services/monitoring/docker-compose.aws.yml
  services/monitoring/docker-compose.letsencrypt.dns.yml
  services/monitoring/docker-compose.letsencrypt.http.yml
  services/monitoring/docker-compose.master.yml
  services/monitoring/docker-compose.yml
Owners: @pcrespov, @sanderegg

Remove useless space
  services/monitoring/prometheus/prometheus-dalco.yml
Owners: @sanderegg

Synchro drc metrics
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601455694638.json
Owners: @sanderegg

delete DRC with space in name
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC_DRC_Metrics-1603889478516.json
Owners: @sanderegg

delete DRC with space in name
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601455694638.json
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC_DRC_Metrics-1603889478516.json
Owners: @sanderegg

remove s3 registry migration
  scripts/migration/s3-registry-migration.bash
Owners: none

remove bug gitlab
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC_DRC_Metrics-1603889478516.json
Owners: @sanderegg

Delete SPARC DRC Metrics-1603889478516.json
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1603889478516.json
Owners: @sanderegg

fix gitlab bug
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC_DRC_Metrics-1603889478516.json
Owners: @sanderegg

Update config gitlab ci exporter
  services/monitoring/gitlab-ci-pipelines-exporter/config.yml
Owners: @sanderegg

Update config gitlab ci exporter
  services/monitoring/gitlab-ci-pipelines-exporter/config.yml
Owners: @sanderegg

Add grafana generated dashbaord for dalco or aws
  .gitignore
  repo.config
  services/monitoring/Makefile
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
  services/monitoring/grafana/templates-provisioning/dashboards/simcore/Metrics-dashboard.json.j2
  services/monitoring/template.env
Owners: @pcrespov, @sanderegg

Add grafana generated dashbaord for dalco or aws
  .gitignore
  repo.config
  services/monitoring/Makefile
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
  services/monitoring/grafana/templates-provisioning/dashboards/simcore/Metrics-dashboard.json.j2
  services/monitoring/template.env
Owners: @pcrespov, @sanderegg

Reformat simcore template.env
  services/simcore/template.env
Owners: @sanderegg

Reformat simcore template.env
  services/simcore/template.env
Owners: @sanderegg

change scrape interval to 1m to relieve simcore containers
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus-dalco.yml
Owners: @sanderegg

change scrape interval to 1m to relieve simcore containers
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus-dalco.yml
Owners: @sanderegg

remove evaluation interval
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus-dalco.yml
Owners: @sanderegg

remove evaluation interval
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus-dalco.yml
Owners: @sanderegg

set interval no non-minute-wise interval
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus-dalco.yml
Owners: @sanderegg

set interval no non-minute-wise interval
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus-dalco.yml
Owners: @sanderegg

Env simcore changes
  services/simcore/.env
Owners: @sanderegg

Typo in tags config for deployer
  repo.config
Owners: none

Add script to have informations about the size of minio buckets easily
  scripts/minio-infos/Dockerfile
  scripts/minio-infos/minio-infos.bash
Owners: none

Add script to have informations about the size of minio buckets easily
  scripts/minio-infos/Dockerfile
  scripts/minio-infos/minio-infos.bash
Owners: none

added scicrunch api key
  repo.config
Owners: none
