Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

Graylog configuration in python + correction of input added at each start + README to find the correct API link
  services/graylog/Makefile
  services/graylog/README.md
  services/graylog/docker-compose.yml
  services/graylog/scripts/README.md
  services/graylog/scripts/configure.py
  services/graylog/scripts/requirements.txt
Owners: @pcrespov, @sanderegg

Update Graylog version to 4.2.4 for additional security fix
  services/graylog/docker-compose.yml
Owners: @sanderegg

Update Graylog version to 4.2.4 for additional security fix
  services/graylog/docker-compose.yml
Owners: @sanderegg

adding rate limiting in ops
  services/simcore/docker-compose.yml
  services/traefik/docker-compose.yml
Owners: @sanderegg

enable rate limiting in prod
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

adding rate limiting in ops
  services/simcore/docker-compose.yml
  services/traefik/docker-compose.yml
Owners: @sanderegg

enable rate limiting
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Make Jaeger Tracing Max_Traces more flexible by setting it via an env-var
  services/jaeger/docker-compose.yml
Owners: @sanderegg

Make Jaeger Tracing Max_Traces more flexible by setting it via an env-var
  services/jaeger/docker-compose.yml
Owners: @sanderegg

Fix bug: 404s on www-route. Now handled properly.
  services/traefik/docker-compose.aws.yml
  services/traefik/docker-compose.yml
Owners: @sanderegg

Fix bug: 404s on www-route. Now handled properly.
  services/traefik/docker-compose.aws.yml
  services/traefik/docker-compose.yml
Owners: @sanderegg

Add code to handle www-routes on master
  services/traefik/docker-compose.dalco.yml
Owners: @sanderegg

Increase Rate-Limit to 250requests/second
  services/traefik/docker-compose.yml
Owners: @sanderegg

Increase Rate-Limit to 250requests/second
  services/traefik/docker-compose.yml
Owners: @sanderegg

Update grafana version
  services/monitoring/docker-compose.yml
Owners: @sanderegg

Update grafana version
  services/monitoring/docker-compose.yml
Owners: @sanderegg

removed flower
  scripts/deployments/deploy.sh
  services/flower/Makefile
  services/flower/README.md
  services/flower/docker-compose.aws.yml
  services/flower/docker-compose.dalco.yml
  services/flower/docker-compose.letsencrypt.dns.yml
  services/flower/docker-compose.letsencrypt.http.yml
  services/flower/docker-compose.yml
  services/flower/template.env
Owners: @pcrespov, @sanderegg

sync
  services/portainer/Makefile
  services/traefik/Makefile
Owners: @pcrespov

traefik now checks depth for rate limiting
  services/traefik/docker-compose.yml
Owners: @sanderegg

removed flower
  scripts/deployments/deploy.sh
  services/flower/Makefile
  services/flower/README.md
  services/flower/docker-compose.aws.yml
  services/flower/docker-compose.dalco.yml
  services/flower/docker-compose.letsencrypt.dns.yml
  services/flower/docker-compose.letsencrypt.http.yml
  services/flower/docker-compose.yml
  services/flower/template.env
Owners: @pcrespov, @sanderegg

sync added depth criterion to rate limiter
  services/traefik/Makefile
  services/traefik/docker-compose.yml
Owners: @pcrespov, @sanderegg

fix ops_traefik regex
  services/traefik/docker-compose.aws.yml
  services/traefik/docker-compose.dalco.yml
  services/traefik/docker-compose.letsencrypt.dns.yml
  services/traefik/docker-compose.letsencrypt.http.yml
  services/traefik/docker-compose.local.yml
  services/traefik/docker-compose.yml
Owners: @sanderegg

fix ops_traefik regex
  services/traefik/docker-compose.aws.yml
  services/traefik/docker-compose.dalco.yml
  services/traefik/docker-compose.letsencrypt.dns.yml
  services/traefik/docker-compose.letsencrypt.http.yml
  services/traefik/docker-compose.local.yml
  services/traefik/docker-compose.yml
Owners: @sanderegg

fixed auth middleware
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

fix auth middleware
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

DO NOT MERGE: Apply changes from diff-patch posted in mattermost 18jan2021
  repo.config
  services/simcore/.env
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.letsencrypt.dns.yml
  services/simcore/docker-compose.deploy.letsencrypt.http.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg, @pcrespov

DONT MERGE YET: Apply Patch Release1.21.0 from mattermost opschat
  repo.config
  services/simcore/.env
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.letsencrypt.dns.yml
  services/simcore/docker-compose.deploy.letsencrypt.http.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg, @pcrespov

Docker compose deploy updated for maintenance - maintenance going UP
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correct repo.config variables + gen of env and docker-compose-deploy
  repo.config
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy updated for maintenance - maintenance mode going DOWN
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add compose generated file
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add freshping route
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Add correct Logspout Regex to capture gunicorn logs with terminal color codes
  services/graylog/docker-compose.yml
Owners: @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov
