Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

Update config for new release system
  repo.config
  services/simcore/.env
Owners: @sanderegg

enable mattermost notification on prod
  services/deployment-agent/deployment_config.default.yaml
Owners: @sanderegg

bumped deployer to 0.9.1
  services/deployment-agent/VERSION
Owners: @sanderegg

decrease polling rate to 1min
  services/deployment-agent/deployment_config.default.yaml
Owners: @sanderegg

enable traefik on rabbit
  services/simcore/docker-compose.yml
Owners: @sanderegg

fixed docs of Makefile
  services/simcore/Makefile
Owners: @pcrespov

enable rabbitMQ UI
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix traefik logs to DEBUG
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/traefik/docker-compose.dalco.yml
Owners: @sanderegg

Add minio config for prometheus + make grafana dashboard more independant from one cluster to another and parametrizable + correct minor bug in deploy script
  scripts/deployments/deploy.sh
  scripts/migration/db-restore.bash
  scripts/minio_prometheus_token.bash
  services/monitoring/Makefile
  services/monitoring/docker-compose.aws.yml
  services/monitoring/docker-compose.dalco.yml
  services/monitoring/docker-compose.yml
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1589575774573.json
  services/monitoring/grafana/provisioning/dashboards/ops/MinIO overview-1599665269938.json
  services/monitoring/grafana/provisioning/dashboards/ops/Minio Overview-1571060369168.json
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
  services/monitoring/grafana/provisioning/datasources/datasource.aws.yml.template
  services/monitoring/grafana/provisioning/datasources/datasource.dalco.yml.template
  services/monitoring/grafana/provisioning/datasources/datasource.yml.template
  services/monitoring/prometheus/prometheus-base.yml
  services/monitoring/prometheus/prometheus-dalco.yml
  services/monitoring/template.env
  services/portainer/Makefile
Owners: @pcrespov, @sanderegg

Minor config correction
  repo.config
Owners: none

Add generic way of handling multiple domains names for simcore
  repo.config
  services/simcore/.env
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg, @pcrespov

Fix typo
  services/simcore/Makefile
Owners: @pcrespov

Add multi domains config
  repo.config
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Revert config multi domain because of missing bind config
  services/simcore/.env
  services/traefik/docker-compose.dalco.yml
Owners: @sanderegg

Config update for staging aws
  repo.config
  services/deployment-agent/deployment_config.default.yaml
  services/simcore/.env
Owners: @sanderegg

Update aws config for http challenge - temporary
  services/adminer/Makefile
  services/graylog/Makefile
  services/jaeger/Makefile
  services/monitoring/Makefile
  services/monitoring/docker-compose.yml
  services/portainer/Makefile
  services/redis-commander/Makefile
  services/registry/Makefile
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.letsencrypt.http.yml
  services/traefik/docker-compose.letsencrypt.dns.yml
Owners: @pcrespov, @sanderegg

update config
  repo.config
  services/deployment-agent/deployment_config.default.yaml
  services/simcore/.env
  services/simcore/Makefile
  services/simcore/docker-compose.yml
Owners: @sanderegg, @pcrespov

more config
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

add a prometheus rule to sum of non-idle cpu seconds over all nodes
  services/monitoring/prometheus/prometheus.rules.yml
Owners: @sanderegg

new NIH metrics dashboard with fixed cpu consumption
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601298954953.json
Owners: @sanderegg

correct makefile comments
  services/monitoring/Makefile
Owners: @pcrespov

add a prometheus rule to sum of non-idle cpu seconds over all nodes
  services/monitoring/prometheus/prometheus.rules.yml
Owners: @sanderegg

new NIH metrics dashboard with fixed cpu consumption
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601298954953.json
Owners: @sanderegg

correct makefile comments
  services/monitoring/Makefile
Owners: @pcrespov

use docker version of yq (do not polute host)
  services/simcore/Makefile
Owners: @pcrespov

updated .env file with correct redis_backend entries
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Deploy.sh typo + volume backup-and-restore permission fix + deploymentagent on manager 1 fix
  scripts/deployments/deploy.sh
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
  services/deployment-agent/docker-compose-aws.yml
  services/monitoring/docker-compose.aws.yml
  services/monitoring/prometheus/prometheus.rules.yml
  services/monitoring/prometheus/prometheus.yml
Owners: @sanderegg

Deploy.sh typo + volume backup-and-restore permission fix + deploymentagent on manager 1 fix
  scripts/deployments/deploy.sh
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
  services/deployment-agent/docker-compose-aws.yml
  services/monitoring/docker-compose.aws.yml
  services/monitoring/prometheus/prometheus.rules.yml
  services/monitoring/prometheus/prometheus.yml
Owners: @sanderegg

use docker version of yq (do not polute host)
  services/simcore/Makefile
Owners: @pcrespov

updated .env file with correct redis_backend entries
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Add custom config for aws prometheus
  services/monitoring/Makefile
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus-base.yml
Owners: @pcrespov, @sanderegg

Fix prometheus config for aws bug + add prometheus.yml to gitignore
  .gitignore
  services/monitoring/Makefile
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus.yml
Owners: @pcrespov, @sanderegg

Add custom config for aws prometheus
  services/monitoring/Makefile
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus-base.yml
Owners: @pcrespov, @sanderegg

Fix prometheus config for aws bug + add prometheus.yml to gitignore
  .gitignore
  services/monitoring/Makefile
  services/monitoring/prometheus/prometheus-aws.yml
  services/monitoring/prometheus/prometheus.yml
Owners: @pcrespov, @sanderegg

Usage of yq container everywhere + fixed version
  scripts/common.Makefile
  services/monitoring/Makefile
  services/simcore/Makefile
Owners: @pcrespov

Usage of yq container everywhere + fixed version
  scripts/common.Makefile
  services/monitoring/Makefile
  services/simcore/Makefile
Owners: @pcrespov

updated dashboard
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

use instant value to correctly show available disk space
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

compute log in rate by 24h remove SPARC portal statistics as they are irrelevant in this case rename labels for better reading of graphs add increased cpu-hours on second axis
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

updated metrics dashboard in AWS
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov
