Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov

force grafana to load on leader node
  services/monitoring/docker-compose.aws.yml
Owners: @sanderegg

use prometheus recording rule
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601454921889.json
Owners: @sanderegg

use prometheus recording rule
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601454921889.json
Owners: @sanderegg

use second axis for increase of CPU hours
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601455234080.json
Owners: @sanderegg

use second axis for increase of CPU hours
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601455234080.json
Owners: @sanderegg

use relabel to improve readability
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601455694638.json
Owners: @sanderegg

use relabel to improve readability
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1601455694638.json
Owners: @sanderegg

Sidecar are now deploy on worker node
  services/simcore/.env
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.aws.yml
Owners: @sanderegg, @pcrespov

compose deploy config
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Change rabbit config because production is not ready yet
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Correct yq typo
  services/monitoring/Makefile
Owners: @pcrespov

AWS prod gwbridge ip config
  services/monitoring/docker-compose.yml
Owners: @sanderegg

Add TARGET_MPI_NODE_CPU_COUNT env variable to all stacks
  services/simcore/docker-compose.deploy.dalco.yml
Owners: @sanderegg

Add TARGET_MPI_NODE_CPU_COUNT env variable to all stacks
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Correct yq typo
  services/monitoring/Makefile
Owners: @pcrespov

Sidecar are now deploy on worker node
  services/simcore/.env
  services/simcore/Makefile
  services/simcore/docker-compose.deploy.aws.yml
Owners: @sanderegg, @pcrespov

Change rabbit config
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Add postgres to excluded service in config
  repo.config
Owners: none

upgrade celery configuration to use rpc backend
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

update celery configuration to use rpc backend
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Update config for speag.com
  repo.config
Owners: none

Typo
  services/simcore/.env
Owners: @sanderegg

Add multi-buckets and multi volumes available during migration. Fix divers bug in s3 migration . Add transfer of volumes with SCP
  scripts/migration/.env
  scripts/migration/s3-data-migration.bash
  scripts/volumes-backup-and-restore/Makefile
  scripts/volumes-backup-and-restore/template.env
  scripts/volumes-backup-and-restore/volume-backup-and-restore.bash
Owners: @pcrespov

Multi hosts config
  repo.config
  services/simcore/.env
Owners: @sanderegg

Correct typo
  repo.config
  services/simcore/.env
Owners: @sanderegg

Separate simcore stack from service generated + add helper to print labels in global makefile
  Makefile
  repo.config
  services/simcore/docker-compose.deploy.aws.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @pcrespov, @sanderegg

Add catalog, and migration service on the simcore node
  services/simcore/docker-compose.deploy.aws.yml
Owners: @sanderegg

Update config
  repo.config
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Env update
  repo.config
  services/simcore/.env
Owners: @sanderegg

Add webserver garbage collection interval
  services/simcore/template.env
Owners: @sanderegg

Readme update
  README.md
Owners: none

update readme
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update env webserver
  services/simcore/.env
Owners: @sanderegg

Add prefix for webserver var in simcore + change backup adress for pg-backup service
  services/pg-backup/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

Add prefix for webserver var in simcore + change backup adress for pg-backup service
  services/pg-backup/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

Update config
  services/simcore/.env
Owners: @sanderegg

set comment at right line
  services/minio/Makefile
Owners: @pcrespov

updated metrics to show correct data usage over all partitions
  services/monitoring/grafana/provisioning/dashboards/simcore/Metrics-dashboard.json
Owners: @sanderegg

fixed NIH metrics regarding overall data storage
  services/monitoring/grafana/provisioning/dashboards/nih-metrics/SPARC DRC Metrics-1603889478516.json
Owners: @sanderegg
