Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

Break WSL1 compatibility - update aws script to the last improvments from local script
  scripts/deployments/aws-deploy.sh
  scripts/deployments/local-deploy.sh
  services/registry/Makefile
  services/traefik/Makefile
Owners: @pcrespov

Remove portainer subdomain
  Makefile
  certificates/Makefile
  repo.config
  scripts/deployments/aws-deploy.sh
  scripts/deployments/local-deploy.sh
Owners: @pcrespov

Add extra hosts to aws
  scripts/deployments/aws-deploy.sh
  scripts/deployments/local-deploy.sh
Owners: none

update .env docker-compose for aws
  services/simcore/.env
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correction bug in create-s3-bucket + update repo.config values for aws
  repo.config
  scripts/create-s3-bucket.bash
  services/simcore/.env
  services/traefik/Makefile
Owners: @sanderegg, @pcrespov

fix bugs + add migration db script
  scripts/deployments/aws-deploy.sh
  scripts/migration/copy_database.bash
  services/mail/Makefile
  services/redis-commander/docker-compose.aws.yml
Owners: @pcrespov, @sanderegg

.env migration
  scripts/migration/.env
Owners: none

Add db migration
  repo.config
  scripts/migration/.env
  scripts/migration/Dockerfile
  scripts/migration/copy_database.bash
  scripts/migration/migration.bash
Owners: none

Correct db for simcore .env
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Correct DB for simcore.env
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Fix env db
  services/simcore/.env
Owners: @sanderegg

Correct registry ssl
  repo.config
  services/simcore/.env
  services/simcore/template.env
Owners: @sanderegg

Comment api server in docker deploy
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix director in deploy simcore
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correction webserver in docker compose deploy
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correct docker-compose deploy
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correct gzip deploy
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Docker compose deploy to production
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correct socker.IO
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Tests websocket
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

D
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Test middlwares
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Test middlwares
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Acces internal traefik
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Middlware
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Middlware
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

test
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

socket
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Registry emv variables refactor and minus bugs
  scripts/deployments/aws-deploy.sh
  scripts/deployments/local-deploy.sh
  services/deployment-agent/Makefile
  services/deployment-agent/deployment_config.default.yaml
  services/registry/Makefile
  services/registry/docker-compose.aws.yml
  services/registry/docker-compose.self-signed.yml
  services/registry/docker-compose.yml
  services/registry/template.env
  services/traefik/docker-compose.letsencrypt.yml
  services/traefik/docker-compose.local.yml
  services/traefik/docker-compose.yml
Owners: @pcrespov, @sanderegg

Try fix traefik
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Try fix traefik
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Fix eternal entrypoints redirection
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add http_aws entrypoint to simcore traefik
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add entry point aws
  services/adminer/docker-compose.aws.yml
  services/graylog/docker-compose.aws.yml
  services/jaeger/docker-compose.aws.yml
  services/monitoring/docker-compose.aws.yml
  services/portainer/docker-compose.aws.yml
  services/redis-commander/docker-compose.aws.yml
  services/registry/docker-compose.aws.yml
  services/traefik/docker-compose.aws.yml
Owners: @sanderegg

Try with Dalco config
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Test with osparc.dev
  services/simcore/.env
Owners: @sanderegg

Add https to simcore stack
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Rabbit correction
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Correct bug registry for director
  services/simcore/docker-compose.deploy.yml
Owners: @sanderegg

Add readme for migration
  scripts/migration/readme.md
Owners: none

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov
