Repository mrnicegyu11/osparc-ops-environments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanderegg,, @pcrespov, @sanderegg

Release 1.12.0
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Release 1.12.0 editing the good file..
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

release 1.12.0
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Add webserver env var
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Add webserver env for release 1.12.0
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

Remove tab
  services/simcore/docker-compose.yml
Owners: @sanderegg

Fix typo
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
Owners: @sanderegg

staging_Marmoset1
  services/simcore/.env
  services/simcore/docker-compose.deploy.aws.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

Release 1.13.0 Ops change
  services/simcore/template.env
Owners: @sanderegg

staging_Marmoset1
  services/simcore/.env
  services/simcore/docker-compose.deploy.aws.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

Release 1.13.0 Ops change
  services/simcore/template.env
Owners: @sanderegg

Set API_SERVER_DEV_FEATURES_ENABLED=1 for hackathon
  repo.config
  services/simcore/.env
Owners: @sanderegg

API_SERVER_DEV_FEATURES_ENABLED to 1
  repo.config
  services/simcore/.env
Owners: @sanderegg

line
  services/simcore/.env
Owners: @sanderegg

Add deployment scripts
  scripts/dynamic-hosts-aws/README.md
  scripts/dynamic-hosts-aws/dynamic-host-aws.py
  scripts/dynamic-hosts-aws/requirements.txt
  scripts/dynamic-hosts-aws/template.env
Owners: none

adding flower stack
  services/flower/Makefile
  services/flower/README.md
  services/flower/docker-compose.aws.yml
  services/flower/docker-compose.dalco.yml
  services/flower/docker-compose.letsencrypt.dns.yml
  services/flower/docker-compose.letsencrypt.http.yml
  services/flower/docker-compose.yml
  services/flower/template.env
Owners: @pcrespov, @sanderegg

typo
  services/flower/docker-compose.dalco.yml
Owners: @sanderegg

adding flower stack
  services/flower/Makefile
  services/flower/README.md
  services/flower/docker-compose.aws.yml
  services/flower/docker-compose.dalco.yml
  services/flower/docker-compose.letsencrypt.dns.yml
  services/flower/docker-compose.letsencrypt.http.yml
  services/flower/docker-compose.yml
  services/flower/template.env
Owners: @pcrespov, @sanderegg

typo
  services/flower/docker-compose.dalco.yml
Owners: @sanderegg

added flower deploy
  scripts/deployments/deploy.sh
Owners: none

added flower deploy
  scripts/deployments/deploy.sh
Owners: none

Osparc.io synchro
  services/graylog/docker-compose.aws.yml
  services/graylog/docker-compose.yml
  services/mail/docker-compose-aws.yml
  services/monitoring/docker-compose.aws.yml
  services/portainer/docker-compose.aws.yml
  services/redis-commander/docker-compose.yml
  services/traefik/docker-compose.aws.yml
Owners: @sanderegg

Osparc.io synchro
  services/graylog/docker-compose.aws.yml
  services/graylog/docker-compose.yml
  services/mail/docker-compose-aws.yml
  services/monitoring/docker-compose.aws.yml
  services/portainer/docker-compose.aws.yml
  services/redis-commander/docker-compose.yml
  services/traefik/docker-compose.aws.yml
Owners: @sanderegg

Add histo s3
  scripts/create-s3-bucket.bash
  scripts/s3-previous-versions/README.md
  scripts/s3-tools/README.md
  scripts/s3-tools/print_object_versions.py
  scripts/s3-tools/requirements.txt
  scripts/s3-tools/restore_object_version.bash
  scripts/s3-tools/template.env
  services/monitoring/prometheus/prometheus-dalco.yml
Owners: @sanderegg

Temp bucket
  services/simcore/.env
Owners: @sanderegg

Update minio bucket config
  services/simcore/.env
Owners: @sanderegg

Password rotation
  repo.config
Owners: none

Password rotation - no special character
  repo.config
Owners: none

.env updates
  services/simcore/.env
Owners: @sanderegg

More passwords change
  repo.config
  services/simcore/.env
Owners: @sanderegg

Add function to change grafana pwd easily
  services/monitoring/Makefile
  services/portainer/Makefile
Owners: @pcrespov

Add traefik configuration for *.services.DNS - dy-sidecar connection bug
  services/simcore/Makefile
Owners: @pcrespov

Services traefik rule
  services/simcore/.env
Owners: @sanderegg

Correction of Warp script + results
  scripts/minio-infos/warp-benchmarks/results-19-11-2021-unhealty
  scripts/minio-infos/warp-benchmarks/results-22-11-2021-healty
  scripts/minio-infos/warp-benchmarks/warp.bash
Owners: none

Production modification with 2418 2530 2558 2528
  services/simcore/.env
  services/simcore/docker-compose.deploy.aws.yml
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

Production modification with 2418 2530 2558 2528
  services/simcore/.env
  services/simcore/docker-compose.deploy.aws.yml
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

fix merge
  repo.config
  services/simcore/.env
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

releasing 1.17.0
  repo.config
  services/simcore/.env
  services/simcore/docker-compose.deploy.dalco.yml
  services/simcore/docker-compose.deploy.yml
  services/simcore/docker-compose.yml
  services/simcore/template.env
Owners: @sanderegg

GRafana import export Scripting
  services/monitoring/Makefile
  services/monitoring/docker-compose.yml
  services/monitoring/scripts/import.py
  services/monitoring/scripts/requirements.txt
  services/monitoring/scripts/test.bash
Owners: @pcrespov, @sanderegg

Import into python + multi bug corrected
  services/monitoring/scripts/export.py
  services/monitoring/scripts/import.py
Owners: @sanderegg

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

# files and folders recursively
/ci/                      @sanderegg, @pcrespov
/services/                @sanderegg
/services/maintenance     @pcrespov
/.travis.yml              @sanderegg

Makefile                  @pcrespov
*.mk                      @pcrespov
